
nx-message.context-error{
	.nx-message__headline{
		color:$c-error;
		font-weight: 700;
	}
}
nx-message.context-info{
	.nx-message__headline{
		color:$grey-700;
		font-weight: 700;
	}
}

@include screen-md-down {
	nx-message.context-error,
	nx-message.context-info{

		font-size: 14px;

		.nx-message__icon{
			position: relative;
			display: inline-block;
			vertical-align: top;
		}

		.nx-message__content-wrapper{
			display: inline-block;
			vertical-align: top;
			max-width: calc(100% - 40px);

			.nx-message__content{
				margin-left: 0 !important;
			}
		}
	}
}