
.nx-modal .nx-modal__position{
	.nx-modal__container{
		position: relative;
		width:95vw;
		max-width: 400px;
		max-height: 95vh;

		.nx-modal__content-wrapper{
			max-height: 95vh;
		}
	}
}


@include screen-md-up {
	.nx-modal .nx-modal__position{
		.nx-modal__container{
			width:95vw;
			max-width: 720px;
			.nx-modal__content-wrapper{
				max-height: 95vh;
			}
		}
	}

}