/*-----------------------------------------------------------------------------
    $ Cards
-----------------------------------------------------------------------------*/

.std-card {
    &.nx-card {
        display: block;
        box-shadow: 0px 2px 20px 0 rgba(38, 56, 82, 0.27);
    }
}

.nx-card {
	&.card-pd-zero-- {
		padding: 0;
	}
}
