/*-----------------------------------------------------------------------------
    $ Inline Block Groups
-----------------------------------------------------------------------------*/

@mixin inline-block-group-styles {
    margin-top: -15px;
    margin-left: -15px;
    margin-right: -15px;

    .inline-block-group__elem {
        display: inline-block;
        margin-top: 15px;
        margin-left: 15px;
        margin-right: 15px;
        vertical-align: middle;

        &.compact-left-- {
            margin-left: 7px;
        }

        &.compact-right-- {
            margin-right: 7px;
        }
    }
}

@include screen-sm-up {
    .sm-up--.inline-block-group {
        @include inline-block-group-styles;
    }
}

@include screen-md-up {
    .md-up--.inline-block-group {
        @include inline-block-group-styles;
    }
}