/*-----------------------------------------------------------------------------
    $ Radio Buttons
-----------------------------------------------------------------------------*/

.std-radio-group {
    .nx-label--large {
        margin-bottom: 10px;
    }
}
.std-radio-button {
    margin-top: 5px;

    &:first-child {
        margin-top: 0;
    }
}

@include screen-sm-up {
    .std-radio-button {
        margin-top: 0;
    }
    .std-radio-group {
        .nx-radio-group__controls {
            display: flex;
            margin-left: -20px;
        }
        .std-radio-button {
            margin-left: 20px;
        }
    }
}