/*-----------------------------------------------------------------------------
    $ Messages
-----------------------------------------------------------------------------*/

nx-message:nth-child(n) {
    line-height: 1.5;
}

@include screen-md-down {
    nx-message:nth-child(n) {
        padding: 20px;
    }
}