/*-----------------------------------------------------------------------------
    $ Modal
-----------------------------------------------------------------------------*/

nx-modal {
    position: relative;
    z-index: 100;
}
.nx-modal__actions {
    &:nth-child(n) {
        height: auto;
        border-top: 0;
        position: static;
        justify-content: center;
    }
    > [class*="nx-button"] {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 0;
    }
}

@include screen-md-up {
    .nx-modal__actions {
        > [class*="nx-button"] {
            min-width: 215px;
            margin-left: 15px;
            margin-right: 15px;
        }
    }
}