<customer-partner
[dataSearch]="CPFound"
[dataStore]="CPFound" 
[isCustomerPartnerFound]="isFalse"
[isCustomerPartnerNotFound]="isFalse"
[isIncompleteCustomerPartnerFound]="isFalse" 
[isShowSearchComponent]="isTrue"
[stateList]=""
[countryList]=""
[clientFaxCodeList]=""
[clientMobileCodeList]=""
[clientPhoneCodeList]=""
(setAction)="onSetAction($event)">
</customer-partner>
<router-outlet></router-outlet>
<div style="flex: 1 1 auto;">
    <div class="container">
        <!-- <test-table></test-table> -->
        <lib-scroll-able-table
        [curPage]="curPage"
        [perPage]="perPage"
        ></lib-scroll-able-table>
        
        <lib-pagination 
        [curPage]="curPage"
        [perPage]="perPage"
        [dataLength]="dataLength"
        [itemsPerPageSelections]="itemsPerPageSelections"
        (perPageChanges)="perPageChanges($event)"
        (curPageChanges)="curPageChanges($event)"
        ></lib-pagination>
    </div>
</div>

