@import '../scss/globals';

:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: url(/assets/images/shared/content-bg.jpg) center top #{$site-header-height-mobile} repeat-x $white;
}

@include screen-sm-up {
    :host {
        background-position: center top $site-header-height-desktop;
    }
}

@include screen-lg-up {
    :host {
        background-size: 100% auto;
    }
}


::ng-deep {
    .desktop-only-pagination {
        .nx-pagination__container {
            margin: 12px 0 40px !important;
        }
    }
}
.load-more-button {
    font-size: 14px;
}
@include screen-md-up {
    .load-more {
        display: none;
    }
}