/*-----------------------------------------------------------------------------
    $ Colors
-----------------------------------------------------------------------------*/

//---- Background ----//

.std-bgc-white {
    background-color: $white;
}

.std-c-grey-400 {
    color: $grey-400;
}

.std-c-bright-blue {
    color: $bright-blue;
}
