/*-----------------------------------------------------------------------------
    $ Widths
-----------------------------------------------------------------------------*/

.w-1col {
    max-width: 460px;
}

.w-1p5col {
    max-width: 550px;
}
.w-88px{
    width: 88px;
}
.w-750px{
    max-width: 780px;
}
.w-364px{
    max-width: 364px;
}